<h3>a {{crust}}-crust {{pizza_flavor}} pizza has been ordered!</h3>

<br>

{% if individual_toppings %}

<h4> Toppings Added: </h4>

{% for topping in individual_toppings %}

<li> {{topping}} </li>

{% endfor %}


{% endif %}

<br>

{% extends 'base.html' %}

{% block title%}
    Pizza Delivery Results Form
{% endblock %}

{% block content%}

    {% if pizza_flavor == 'cheese'%}
    <h5>I love cheese pizza!</h5>

    {% elif pizza_flavor == 'pepperoni'%}
    <h5>Pepperoni is cool too!</h5>

    {% else %}
    <h5>I havent tried that order, but maybe I should!</h5>

    {% endif %}


{% endblock %}







{% if pizza_flavor == 'cheese'%}
    <h5>I love cheese pizza!</h5>

{% elif pizza_flavor == 'pepperoni'%}
    <h5>Pepperoni is cool too!</h5>

{% else %}
    <h5>I havent tried that order, but maybe I should!</h5>

{% endif %}








